* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    margin: 20px;
    background: #97c4e0;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  ul {
    list-style: none;
  }
  
  input[type="text"] {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
  }
  
  label {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  .container {
    background-color: rgb(194, 197, 174);
    width: 60%;
    margin: 0 auto;
  }
  
  .container h1 {
    text-align: center;
  }
  
  select {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }
  
  li {
    padding: 20px;
    font-size: 1rem;
    position: relative;
    transition: all 1s;
  }